[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "effsize"]
	path = effsize
	url = https://github.com/mtorchiano/effsize
	shallow = true
	registered = true
