[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "effsize"]
	path = effsize
	url = https://github.com/mtorchiano/effsize
[submodule "lmPerm"]
	path = lmPerm
	url = https://github.com/mtorchiano/lmperm
